{% extends 'base.html.twig' %}

{% block title %}Domain Rules{% endblock %}

{% block body %}


    {% set columns = [
        'name',
        'testUrls'
    ] %}
<twig:simple_datatables :data="domains" :columns="columns">
    <twig:block name="testUrls">
        <ul class="list-unstyled">
            {% for url in row.testUrls %}
                <li>
                    <a href="{{ url }}" target="_blank">{{ url }}</a>
                </li>
            {% endfor %}

        </ul>
    </twig:block>

</twig:simple_datatables>
{% endblock %}
